---

import MainGridLayout from '../layouts/MainGridLayout.astro'

import { getEntry } from 'astro:content'
import { i18n } from '../i18n/translation'
import I18nKey from '../i18n/i18nKey'
import Markdown from '@components/misc/Markdown.astro'
 

import { getEnv } from '../constants/lib/env'
import voidFile from '../assets/void.png'
import List from '../components/telegram/list.astro'
import { getChannelInfo } from '../constants/lib/telegram'

const { SITE_URL } = Astro.locals

const channelInfo = await getChannelInfo(Astro)

const post = await getChannelInfo(Astro, {
  type: 'post',
  id: Astro.params.id,
})

const channel = {
  ...(channelInfo || {}),
  posts: [post],
  seo: post,
}

const staticProxy = getEnv(import.meta.env, Astro, 'STATIC_PROXY') ?? '/static/'


---
<MainGridLayout title={i18n(I18nKey.telegram)} description={i18n(I18nKey.telegratelegramm)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <List channel={channel} before={false} after={false} isItem={true}>
                <div slot="header" id="breadcrumb">
                  <img
                    src={channel?.avatar?.startsWith('http') ? staticProxy + channel?.avatar : voidFile.src}
                    alt={channel?.title}
                    loading="eager"
                    class="breadcrumb-avatar"
                  />
                  <div class="breadcrumb-title">
                    <a href={SITE_URL} class="site-title" title={channel?.title}>
                      {channel.title}
                    </a>
                  </div>
                </div>
              </List>
        </div>
    </div>
</MainGridLayout>


 